In [1]:
# 下载Chinook数据库
!wget 'https://github.com/lerocha/chinook-database/releases/download/v1.4.2/Chinook_Sqlite.sql'
# 创建Chinook.db数据库
!sqlite3 -bail -cmd '.read Chinook_Sqlite.sql' -cmd '.save Chinook.db' -cmd '.quit'

--2024-06-17 11:30:37--  https://github.com/lerocha/chinook-database/releases/download/v1.4.2/Chinook_Sqlite.sql
Resolving github.com (github.com)... 198.18.0.79
Connecting to github.com (github.com)|198.18.0.79|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/26098045/707f4dc9-1fc9-4545-8544-cd5e105b48eb?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240617%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240617T033038Z&X-Amz-Expires=300&X-Amz-Signature=21c8b5e432fce536e68e42227c0d13af03e89982546cbe84739fcfab42e8b4f2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=26098045&response-content-disposition=attachment%3B%20filename%3DChinook_Sqlite.sql&response-content-type=application%2Foctet-stream [following]
--2024-06-17 11:30:38--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/26098045/707f4dc9-1fc9-4545-8544-cd5e105b48eb?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240617%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240617T033038Z&X-Amz-Expires=300&X-Amz-Signature=21c8b5e432fce536e68e42227c0d13af03e89982546cbe84739fcfab42e8b4f2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=26098045&response-content-disposition=attachment%3B%20filename%3DChinook_Sqlite.sql&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 198.18.1.168
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|198.18.1.168|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1864937 (1.8M) [application/octet-stream]
Saving to: ‘Chinook_Sqlite.sql’

Chinook_Sqlite.sql  100%[===================>]   1.78M  2.17MB/s    in 0.8s

2024-06-17 11:30:40 (2.17 MB/s) - ‘Chinook_Sqlite.sql’ saved [1864937/1864937]

In [28]:
# 创建一个产品数据库
import sqlite3
# 连接数据库
conn = sqlite3.connect('db/product_db.db')
c = conn.cursor()
# 创建产品表 字段 ID，名称，供应商，仓库
c.execute('''
          CREATE TABLE IF NOT EXISTS products
          (
            [id] INTEGER PRIMARY KEY, 
            [name] TEXT, 
            [supplier] TEXT, 
            [store] TEXT
          )
          ''')
# 创建价格表 字段 ID，价格，折扣
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          (
              [id] INTEGER PRIMARY KEY, 
              [price] INTEGER,
              [discount_pcnt] INTEGER
          )
          ''')
# 插入产品记录
products = [
    (1, 'iPhone', 'Apple', '北京'),
    (2, 'MacBook', 'Apple', '广州'),
    (3, 'Tablet', 'Samsung', '北京'),
    (4, 'Galaxy', 'Samsung', '上海'),
    (5, 'ThinkPad', 'Lenovo', '深圳')
]
c.executemany('''
              INSERT INTO products (id, name, supplier, store)
              VALUES (?, ?, ?, ?)
              ''', products)
# 插入价格记录
prices = [
    (1, 10000, 85),
    (2, 8000, 95),
    (3, 5000, 75),
    (4, 6000, 65),
    (5, 9000, 95)
]
c.executemany('''
              INSERT INTO prices (id, price, discount_pcnt)
              VALUES (?, ?, ?)
              ''', prices)
# 关闭连接
conn.commit()
conn.close()

In [53]:
# 示例1
from langchain_experimental.sql import SQLDatabaseChain
from langchain_community.utilities import SQLDatabase
from dotenv import load_dotenv
from langchain_fireworks import ChatFireworks

# 加载环境变量
load_dotenv()

# create LLM model
chat = ChatFireworks(model="accounts/fireworks/models/mixtral-8x7b-instruct",
                    temperature=0)
# connect to our database
db = SQLDatabase.from_uri("sqlite:///db/product_db.db")
# create the database chain
db_chain = SQLDatabaseChain.from_llm(chat, db, verbose=False)
# ask the LLM a question
from pprint import pprint
pprint(db_chain.invoke("列出所有的产品名。"))
pprint(db_chain.invoke("macbook多少钱？"))

{'query': '列出所有的产品名。', 'result': 'iPhone\nMacBook\nTablet\nGalaxy\nThinkPad'}
{'query': 'macbook多少钱？', 'result': 'The price of a MacBook is 8000.'}

In [55]:
# 示例2
from langchain_experimental.sql import SQLDatabaseChain
from langchain_community.utilities import SQLDatabase
from dotenv import load_dotenv
from langchain_fireworks import ChatFireworks

# 加载环境变量
load_dotenv()

# create LLM model
chat = ChatFireworks(model="accounts/fireworks/models/mixtral-8x7b-instruct",
                    temperature=0)
# connect to our database
db = SQLDatabase.from_uri("sqlite:///db/titanic.db")
# create the database chain
db_chain = SQLDatabaseChain.from_llm(chat, db, verbose=False)
# ask the LLM a question
from pprint import pprint
pprint(db_chain.invoke("每个等级船舱中有多少乘客"))

{'query': '每个等级船舱中有多少乘客',
 'result': "Answer: In each level of the ship's cabin class, there are 216 "
           'passengers in first class, 184 passengers in second class, and 491 '
           'passengers in third class.'}